# ==============================
# Environment
# ==============================

.env


# ==============================
# Python
# ==============================

venv/
__pycache__/
*.py[cod]


# ==============================
# Django
# ==============================

staticfiles/
*.sqlite3


# ==============================
# Node / React
# ==============================

node_modules/
frontend/node_modules/
frontend/dist/


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db
# ==============================
# User Uploads
# ==============================

media/
