# Environment variables / secrets
.env
.env.*

# Python virtual environments
venv/
.venv/
backend/venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Django database
db.sqlite3
backend/db.sqlite3

# Node
node_modules/
frontend/node_modules/

# Frontend build files
dist/
frontend/dist/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db